{% extends "base.html" %}

{% block content %}
{% block content_title %}{% endblock %}
<div class="posts">
{%- for article in articles_page.object_list %}
  <article>
    <h2 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}">
        {{ article.title }}
      </a>
    </h2>
    <div class="post-meta text-muted">
      Posted on {{ article.date|strftime('%d %B %Y') }}
      {% if article.author and article.author != AUTHOR %}
      by
        {% for author in article.authors %}
          {%- if loop.last and loop.index0 > 0 %} and {% endif -%}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {{ article.content }}
  </article>
{% endfor %}
</div>

{% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
