{% if DEFAULT_PAGINATION %}
<div class="pager d-flex">
{%- if articles_page.has_previous() %}
  <span class="previous">
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">← Newer Posts</a>
  </span>
{% endif %}

{%- if articles_page.has_next() %}
  <span class="next ml-auto">
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older Posts →</a>
  </span>
{% endif %}
</div>
{% endif %}
